<%-include("./partials/header.ejs")%>

<form action="/data" , method="POST">

    <input type="text" name="city" placeholder="Enter the location">
    <button type="submit">Get Report</button>
</form>


<%-include("./partials/footer.ejs")%>